.footer a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.footer a:hover {
  color: var(--bs-warning) !important;
}
.footer .bi {
   transition: color 0.2s ease-in-out;
}
 .footer .bi:hover {
   color: var(--bs-warning) !important;
}
