<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"><strong style="color: blue;">avtoeloncha</strong> ga Xush Kelibsiz!</h1>
      <p class="col-md-8 fs-4">Bu yerda siz avtomobillar, ehtiyot qismlar va xizmatlar bo'yicha e'lonlarni topishingiz mumkin.</p>
      <!-- Barcha e'lonlarga link -->
      <a routerLink="/listings" class="btn btn-primary btn-lg">Barcha E'lonlarni Ko'rish</a>
    </div>
  </div>

  <h2>Mashhur Kategoriyalar</h2>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Yengil Avtomobillar</h5>
          <p class="card-text">Eng so'nggi yengil avtomobil e'lonlari.</p>
          <!-- Yangilangan link -->
          <a routerLink="/listings/yengil-avtomobillar" class="btn btn-secondary">Ko'rish</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ehtiyot Qismlar</h5>
          <p class="card-text">Avtomobilingiz uchun ehtiyot qismlar.</p>
           <!-- Yangilangan link -->
          <a routerLink="/listings/ehtiyot-qismlar" class="btn btn-secondary">Ko'rish</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Xizmatlar</h5>
          <p class="card-text">Avtomobil ta'mirlash va boshqa xizmatlar.</p>
           <!-- Yangilangan link -->
          <a routerLink="/listings/xizmatlar" class="btn btn-secondary">Ko'rish</a>
        </div>
      </div>
    </div>
  </div>
