.carousel-item img {
    max-height: 500px;
    object-fit: contain;
    background-color: #eee;
}
.card-title.text-primary {
    font-size: 1.75rem;
}
p[style*="white-space: pre-wrap"] {
    font-family: inherit; /* Brauzer defaultini ishlatish */
}
